*{
    font-family: 'Pangolin', sans-serif;
    font-size: 1.5rem;
    box-sizing: border-box;
    
}

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: auto;
    margin-top: 3rem;
    padding: auto;
}

.product-header{
    width:100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 3px solid rgb(148, 84, 185);
    margin-top: 10rem;
}

.product-title{
    width:45%;
}

.price{
    width:15%;
    display: flex;
    align-items: center;

}

.quantity{
    width:30%;
    display: flex;
    align-items: center;
    
}

.total{
    width:10%;
    display: flex;
    align-items: center;
}

.cart-images{
    width: 15rem;
    margin-right:1rem;
    border-radius: 1rem;
}

.products-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8rem;
    
}

.products-cart{
    width:40%;
    display: flex;
    align-items: center;
    justify-content: space-around, flex-start;
    margin:0;
    padding: 10px 0;
    border-bottom: 3px solid rgb(148, 84, 185);
    .fa{
        cursor: pointer;
        margin-right: 1rem;
    }
    
}

.second-trash{
    display: none;
}

.products-price{
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding: 10px 0;
    border-bottom: 3px solid rgb(148, 84, 185);
}

.total-price{
    width:30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin:0;
    padding: 10px 0;
    border-bottom: 3px solid rgb(148, 84, 185);
}

.products-quantity{
    width:10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0;
    padding: 10px 0;
    border-bottom: 3px solid rgb(148, 84, 185);
    .fa{
        cursor: pointer;
    }
}

.main-total{
    display: flex;
    width:100%;
    margin-top: 2rem;
    h4.total-price-container{
        width:70%;
        display: flex;
        justify-content: flex-end;
    }
    h4.totalEuro{
        width:30%;
        display: flex;
        justify-content: flex-end;
    }
}

.form{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    margin-bottom: 2rem;
    padding: 2rem;
    div{
        margin-bottom:2rem;
        margin-top: 2rem;
        width:100%;
        
        input{
            width:100%;
            height:4rem;
            padding:10px;
            border:3px rgb(148, 84, 185) solid;
            margin-top:2rem;
        }
        label{
            font-size:1.7rem;
            color: black;
            font-weight: 800;
        }
    }
}

#send{
    background-color: rgb(148, 84, 185);
    color:white;
    transition: all 1s;
    font-size:1.8rem;
    margin-top:3rem;
}
#send:hover{
    border:white 3px solid;
    cursor:pointer;
}


#error{
    color:red;
    display: block;
    text-align: center;
    margin-top: 5rem;
}

.orders{
    display: none;
    text-align: center;
    font-weight: bold;
    line-height: 4rem !important;
    margin: 4em;
    color: black;
    padding-top: 5rem;
    
    p{
        font-size: 2.5rem !important;
        line-height: 2.5;
    }
    #confirmation{
        color: rgb(211, 56, 141) !important;
    }
}

#backlink{
    background-color: $primary-color;
    border:solid 4px black;
    border-radius: 50px;
    width:25rem;
    height:9rem;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    margin:auto;
    margin-bottom:5rem;
    text-decoration: none;
    color:black;
    font-size: 1.9rem;
}

#backlink:hover{
    width:27rem;
    font-size: 2.2rem;
    border:solid 4px rgb(218, 29, 170);
}

@media (max-width: 700px) and (min-width: 275px){
    
    .product-header{
        display: none;
    }
    .products-list{
        flex-direction: column;
        justify-content: center;
        .products-cart{
            border:none;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            padding-bottom: 0px;

            span{
                margin-top: 2rem;
                display: block;
                font-size: 2.5rem;
                width: 80%;
                margin: auto;
                padding:2rem;
                text-align: center;
                background-color: white;
            }
            .cart-images{
                width: 80%;
                margin: 0px;
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
            }
        }
        .products-price{
            border:none;
            width:80%;
            color: white;
            margin: auto;
            background-color: #9454b9;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
        .products-price::before{
            content: 'Prix :';
            margin-right: 1rem;
            font-weight: 800;
        }
        .products-quantity{
            border:none;
            width: 80%;
            justify-content: center;
            background-color: #9454b9;
            margin: auto;
            color: white;
            span{
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
        .total-price{
            border:none;
            width: 80%;
            margin: auto;
            justify-content: center;
            color: white;
            margin-bottom: 8rem;
            background-color: #9454b9;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        .total-price::before{
            content: 'Total article :';
            margin-right: 1rem;
            font-weight: 800;
        }
        .second-trash{
            width: 80%;
            margin:auto;
            display: block;
            text-align: center;
            color: rgb(3, 3, 3);
            padding: 1rem;
            background-color:#f3e9f1;
            margin-bottom: 3rem;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            
        }
        .second-trash::after{
            content : 'Effacer ma commande';
            margin-left: 2rem;
            font-family: 'Pangolin', sans-serif;
        }
        .first-trash{
            display: none;
        }
        .main-total{
            width: 80%;
            margin:auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 4rem;
            border-bottom: 2px solid black;
            .total-price-container{
                display: block;
                text-align: center;
                font-size: 2.2rem;
            }
            .totalEuro{
                display: block;
                text-align: center;
            }
        }
    }
}