.footer{
    height:10rem;
    width:100%;
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.reseaux{
    margin-left:15px;
}

.reseaux img{
    width:40px;
}

@media (max-width: 600px) and (min-width: 200px){
    .footer img{
        width:140px;
    }
    .reseaux img{
        width:30px;
    }
}