.homecontent{
    background-image:url('fond-home.jpg');
    background-size: cover;
    height:100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
       background-color: $primary-color;
       border:solid 4px black;
       border-radius: 50px;
       width:25rem;
       height:9rem;
       display: flex;
       justify-content: center;
       align-items: center;
       transition: all 1s ease;
    } 
    div:hover{
        width:27rem;
        height:11rem;
        border:solid 4px rgb(218, 29, 170);
        
    
    }
    a{
        text-decoration: none;
        color:black;
        p{
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 400px) and (min-width: 200px){
    .homecontent{
        height:60rem;
    }
}