.header{
    background-color: $primary-color;
    height:10rem;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 12px 2px black;
    padding-left: 15rem;
    padding-right: 15rem;
    position: relative;
    z-index: 1;
    img{
        height:8rem;
        width:auto;
    }
    #panier{
        height:3rem;
    }
}

.navigation{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.navigation a{
    font-size: 2rem;
    margin-right:4rem;
    text-decoration: none;
    color: black;
    font-family: 'Pangolin', sans-serif;
}